* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

.clear_float::after {
    content: "";
    display: block;
    clear: both;
    height: 0;
}

ul{
    width: fit-content;
}

body {
    background: #f3f0eb;
}